<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1>Welcome home!</h1>

	<a href="/user/addEmployer">Add Employer</a> |
	<a href="/user/employerList">View Employer List</a> |
	<a href="/logout">logout</a>

</body>
</html>