<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1>Welcome home!</h1>

	<a href="/user/addJob">Add New JOb</a> |
	<a href="/user/updateJob">Update Job</a> |
	<a href="/user/deleteJob">Delete Job</a> |
	<a href="/logout">logout</a>

</body>
</html>